.card {
  .card-border {
    margin: 0;
    width: 41.5%;
    border: solid 2px $light-orange;
    @media(max-width: 768px) {
      float: none !important;
    }
  }
  .card-header {
    font-size: 40px;
    color: #ff9933;
    font-weight: bolder;
    line-height: 1;
    margin: 20px 0;
    .card-header-1 {
    }
    .card-header-2 {
    }
  }
  .card-text {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 1.25;
    .card-text-1 {
      margin-bottom: 5px;
    }
    .card-text-2 {
      margin-bottom: 0;
    }
    @media(max-width: 768px) {
      text-align: left;
    }
  }
}
.card-bg-img-left {
  @extend .card;
  background: url(../images/card-img-left-web.jpg) no-repeat #fff;
  min-height: 395px;
  background-clip: border-box;
  background-size: auto 395px;
  // margin-bottom: $divider+(-10px);
  // box-shadow: inset -200px 3px 141px -50px rgba(255,255,255,1);
  @media(max-width: 768px) {
    background: #fff;
  }
}
.card-bg-img-right {
  @extend .card;
  background: url(../images/card-img-right-web.jpg) no-repeat 100% #fff;
  min-height: 395px;
  background-clip: border-box;
  background-size: auto 395px;
  // margin-bottom: $divider;
  @media(max-width: 768px) {
    background: #fff;
  }
}
.card-overlay {
  .card-overlay-bg {
    min-height: 276px;
    margin: 0 auto;
    background-clip: border-box;
    background-size: auto 276px;
    text-align: center;
    padding: 111px 0;
    .card-overlay-text {
      text-transform: uppercase;
      text-align: center;
      color: $lightest;
      border: solid 2px $lightest;
      padding: 5px;
      font-size: 30px;
      font-weight: 600;
    }
  }
  .card-overlay-bg1 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/tradition-bg.jpg) no-repeat 100% #fff;
    @extend .card-overlay-bg;
  }
  .card-overlay-bg2 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/innovation-bg.jpg) no-repeat 46% #fff;
    @extend .card-overlay-bg;
  }
  .card-overlay-bg3 {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/kreativat-bg.jpg) no-repeat 40% #fff;
    @extend .card-overlay-bg;
  }
  .card-overlay-blurb {
    text-align: justify;
    margin-top: 10px;
    line-height: 1.25;
  }
}
