.content {
  margin: 0;
  .page-banner {
    margin-top: 0;
    margin-bottom: 0;
    .page-banner-img {
      img,.sliders-bg {
        height: $page-banner-height-img;
        width: $page-banner-width-img;
        position: relative;
        bottom: 124px;
      }
    }
    .height-max {
      height: 100%;
    }
    .page-banner-well {
      height: $page-banner-well-height;
      width: $page-banner-well-width;
      margin: 0;
      padding: 0;
    }
    .page-banner-img {
      height: 100%;
      width: $page-banner-img-width;
    }
    @media(max-width: 768px) {
      height: $page-banner-mobile-height;
      width: $page-banner-mobile-width;
    }
  }
  .treffer-img {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    img {
      width: auto;
      height: 100%;
    }
  }
  .spacer {
    height: 400px;
  }
  .woodwork-space {
    margin-bottom: $divider+40px;
  }
  .woodwork-space2 {
    margin-bottom: $divider+(-40px);
  }
  .woodwork-space3 {
    margin-bottom: $divider+(-50px);
  }
  .contact-map {
    width: 100%;
    position: relative;
    right: 0;
    top: 0px;
    z-index: -1;
  }
  .contact-nospace {
    height: 500px;
    margin-bottom: 0;
    width: 100%;
    img {
      height: 100%;
      width: auto;
      margin: 0 auto;
      bottom: 138px;
    }
    .caption-left, .caption-right {
      text-align: left;
      width: 25%;
      position: relative;
      bottom: 290px;
      left: 255px;
      color: #fff;
      line-height: 1.25;
    }
    .caption-right {
      left: 222px;
      bottom: 165px;
    }
  }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 1200px) {
        width: 1200px;
    }
    @media (min-width: 992px) {
        width: 1170px;
    }
    @media (min-width: 768px) {
        width: 1020px;
    }
}
.contact-page img {
  // width: 100% !important;
  height: auto !important;
}
