.header {
  padding: 0;
}
.navbar {
  box-shadow: none;
  .navbar-brand {
    margin: 0;
    padding: 0;
    height: 0;
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    .active {
      a, a:hover, a:focus {
        background-color: $navbar-bg;
        color: $light-orange;
      }
    }
    li {
      display: inline-block;
      float: none;
      .logo-navbar-middle {
        padding: 0;
        margin: 0 -87px;
        position: relative;
        bottom: -21px;
      }
      a {
        color: inherit;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 30px;
        display: inline-block !important;
        font-size: 18px;
        font-weight: bold;
      }
      a:hover, a:focus {
        background-color: $navbar-bg;
        color: $light-orange;
      }
    }
    @media (min-width: 768px) {
      float: none;
      display: inline-block !important;
    }
  }
  // .navbar-nav {
  //   text-align: center;
  //   // float: none;
  //   // position: relative;
  //   .active {
  //     a, a:hover, a:focus {
  //       background-color: $navbar-bg;
  //       color: $light-orange;
  //     }
  //   }
  //   .logo-space {
  //     width: 140px;
  //   }
  //   ul {
  //     position: relative;
  //     z-index: 1;
  //   }
  // 	li {
  //     float: none;
  //     display: inline-block;
  //     a {
  //       padding-left: 30px;
  //       padding-right: 30px;
  //       font-size: 18px;
  //       // padding: 55px 39px;
  //       font-weight: bold;
  //     }
  //     a:hover, a:focus {
  //       background-color: $navbar-bg;
  //       color: $light-orange;
  //     }
  // 	}
  // }
  // img {
  //   width: 30%;
  //   margin: 0 auto;
  //   bottom: -5px;
  //   position: relative;
  //   z-index: 3;
  //   left: -5px;
  // }
}
