.sliders {
  .sliders-bg {
    background-color: $light-orange;
    padding: $divider*0 $divider+(-45px) $divider+(-40px);
  }
  .carousel {
    background: $darkest;
    .carousel-inner {
      bottom: 25px;
    }
  }
}

.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  opacity: 0.2;
  position: absolute;
  left: 49.953cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 174;
}
.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  opacity: 0.2;
  position: absolute;
  left: 46.778cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 173;
}
.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  opacity: 0.2;
  position: absolute;
  left: 43.603cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 172;
}
.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  opacity: 0.2;
  position: absolute;
  left: 40.464cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 171;
}
.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  position: absolute;
  left: 37.289cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 170;
}
.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  position: absolute;
  left: 37.289cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 170;
}
