.sliders {
  .sliders-bg {
    background-color: $light-orange;
    padding: 0 18px 18px;;
  }
  .carousel {
    background: $darkest;
    .carousel-inner {
      bottom: 25px;
    }
  }
  .carousel-caption {
    bottom: 47%;
    span {
      background-color: $darkest;
      color: $lightest;
      border: solid 1px $lightest;
      font-weight: bold;
      padding: 5px 10px;
      display: inline-block;
      text-transform: uppercase;
      float: right;
      letter-spacing: 1.1px;
      margin: 5px;
    }
    @media screen and (min-width: 768px) {
      left: 40%;
      right: 15%;
      padding-bottom: 30px;
    }
  }
}

.Vektor_Smartobjekt {
  background-image: url("images/Vektor-Smartobjekt.png");
  opacity: 0.2;
  position: absolute;
  left: 49.953cm;
  top: 49.671cm;
  width: 0.917cm;
  height: 0.776cm;
  z-index: 174;
}
