
body {
  font-family: 'Quicksand', 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: normal;
  background: $lightest;
  .wrapper {
  	box-shadow:0 0 8px rgba(0,0,0,0.25);
  }
  .well {
    // background: $lightest;
  }
}
