.content-margin {
  height: 50px;
}
.banner-fix-top {
  height: $banner-fix-top;
}
.banner-fix-bottom {
  height: $banner-fix-bottom;
}
.sliders-fix-bottom {
  height: 520px;
}
.content-margin-30 {
  height: 30px;
}
.content-margin-5 {
  height: 5px;
}
