// colors
$navbar-bg: transparent;
$light-orange: #ff9933;
$dark-orange: #ff9933;
$lightest: #fff;
$lighter: #ddd;
$light: #eee;
$dark: #333;
$darker: #a7a7a7;
$darkest: #000;

$navbar-default-color: $light-orange;

// layout
$page-banner-height: 600px;
$page-banner-width: 100%;
$page-banner-mobile-height: auto;
$page-banner-mobile-width: 100%;
$page-banner-height-img: auto;
$page-banner-width-img: 100%;
$divider: 60px;
