//main-content

//page-banner
.page-banner {
  height: 252px;
  width: auto auto;
  padding-right: 1px;
  padding-left: 1px;

  .pad-top,.pad-bttm {
    height: 50px;
    margin: 0;
  }
  .well {
    height: 152px;
    margin: 0 auto;
    position: relative;
  }
}
.banner-bg {
  position: absolute;
  bottom: -59px;
  right: 9px;
  left: 9px;
  width: 300px;
  height: 250px;
  transition: all 0.5s ease;
  @media(min-width: 450px) and (max-width: 767px) {
    width: 400px;
    transition: all 0.5s ease;
  }
  .video {
    width: 100%;
    height: auto;
  }
}
