//header

//page banner
.page-banner {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  top: 11px;
  .pad-top {
    height: $pad-xs;
  }
  .well {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    padding: 19px 20px;
    // background: #333;
  }
  .pad-bttm {
      height: $pad-xs;
  }
}
.vid-bg {
  background: #f93;
  padding-right: 10px;
  padding-left: 10px;
}
.banner-bg {
  position: relative;;
  bottom: 60px;
  width: 345px;
  height: $img-banner-xs-height;
  transition: all 0.5s ease;
  left: -6px;
  @media(min-width: $screen-md-min) {
    left: 0;
  }
  .video {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 10px;
    @media(min-width: $screen-md-min) {
      bottom: 14px;
    }
  }
}
//main-content
.articles {
    width: 345px;
  @media(max-width: $screen-xs-max) {
    width: 288px;
  }
  @media(min-width: $screen-sm-min) {
    width: 600px;
  }
  @media(min-width: $screen-md-min) {
    width: 800px;
  }
  @media(min-width: $screen-lg-min) {
    width: 1020px;
  }
}
//footer
